main {
  display: flex;
  flex-direction: column; /* flex의 배치 기준을 세로로 바꿈 */
  justify-content: center;
  align-items: center;
  gap: 5px; /* 상위 요소에 gap 을 주면 하위 요소에 적용 */
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: larger;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d3d6da;
  width: 60px;
  height: 60px;
}
